<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>step04_InitParamExam</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- application initParam -->
   <context-param>
   	<param-name>message</param-name>
   	<param-value>오늘은 불금이다~</param-value>
   </context-param>
   <context-param>
   	<param-name>age</param-name>
   	<param-value>20</param-value>
   </context-param>
  
  <servlet>
  	<servlet-name>initParamTestServlet</servlet-name>
  	<servlet-class>ex0410.servlet.InitParamTestServlet</servlet-class>
  	<init-param>
  		<param-name>id</param-name>
  		<param-value>jang</param-value>
  	</init-param>
  	<init-param>
  		<param-name>addr</param-name>
  		<param-value>판교</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>initParamTestServlet</servlet-name>
  	<url-pattern>/initParam</url-pattern>
  </servlet-mapping>
</web-app>